html{
    --redcolor: rgb(65, 2, 2);
}
body{
    background-color: rgb(199, 201, 201);
}
nav{
    
    display: flex;
    background-color: var(--redcolor, rgb(214, 153, 153));
    color: #06f3f3;
}
#main{
    display: flexbox;
    align-content: center;
}
.cls{
    align-self: center;
    color: rgb(237, 245, 237);
}
.container{
    padding-top: 20px;
    padding-bottom: 20px;
}
header{
    padding-top: 5px;
}
.navbar{
    padding-top: 5px;
}
.card{
    padding-bottom: 10px;
    text-align: justify;
    align-content: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(107, 1, 1, 0.23);

    
}


/*adding some parallax to the home page and prolly all pages*/
body,html{
    height: 100%;
}


.parallax{
    /*image*/
    background-image: url('../images/back.jpg');

    /* has to fill up the entire view*/
    height: 93%;
    /*creating the scrolling magic*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

/*
    adding some color to the text in the parrallax
*/
.parallax{
    padding-top: 15%;
    text-align: center;
    color:  red;
}


/*##########################################################################*/
/*Second parallax effect*/
.parallax2{
    /*image*/
    background-image: url('../images/back2.jpg');
    /* has to fill up the entire view*/
    height: 100%;
    position: relative;
   
    /*creating the scrolling magic*/
    margin-bottom: 2px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

/*
    adding some color to the text in the parrallax
*/
.parallax2{
    padding-top: 5%;
    text-align: center;
    color: red;
}
.content_section{
    position: absolute;
    left: 0;
    top:30%;
    width: 100%;
    text-align: center;
    color: red;
}
.large_text{
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;
}
/*#####################################################################*/

.co{
    font-family: 'Vollkorn', serif;
    font-size: 60px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cap{
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   ;
}
/*
    end
*/
.btn{
    color:rgb(255, 94, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}
.cont, .cont1, .cont2{
    margin: auto;
    position: relative;
    color: rgb(240, 1, 1);
    text-align: center;
    padding: 5px 5px;
    text-align: justify;
    border-width: 1px;
    border-radius: 20px;
   

    box-shadow: 5px 5px 20px black;
    
}
.cont{
    width: 80%;
    padding: 1px 1px;
    text-align: center;
}
.cont1{
    width:40%;
    padding: 1px 1px;
    text-align: center;
}

.testmonials{
    margin: auto;
    position: relative;
    border: solid;
    border: 3px;
    border: rgb(180, 139, 139);
    width: 80%;
}
.hella-states{
    color: rgb(133, 108, 108);
    background-color:rgb(255, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-align: justify;
    border-radius: 15px;

}

/*##################################parallax 3################################*/
.parallax3{
    /*image*/
    background-image: url('../images/back5.jpg');
    /* has to fill up the entire view*/
    height: 11%;
    position: relative;
    opacity: 0.75;
    /*creating the scrolling magic*/
    margin-bottom: 2px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*
    adding some color to the text in the parrallax
*/
.parallax3{
    padding-top: 19%;
    text-align: center;
    color: red;
}

.header1{
    top: 5%;
    position: relative;
    padding: 10px 10px;
    
}
/*##################################parallax 4################################*/
.parallax4{
    /*image*/
    background-image: url('../images/back2.jpg');
    /* has to fill up the entire view*/
    height: 15%;
    position: relative;
    opacity: 0.75;
    /*creating the scrolling magic*/
    margin-bottom: 2px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*
    adding some color to the text in the parrallax
*/
.parallax4{
   
    padding-top: 12%;
    text-align: center;
    color: red;
}
/*##################################parallax 5################################*/
.parallax5{
    /*image*/
    background-image: url('../images/back3.jpg');
    /* has to fill up the entire view*/
    height: 15%;
    position: relative;
    opacity: 0.75;
    /*creating the scrolling magic*/
    margin-bottom: 2px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*
    adding some color to the text in the parrallax
*/
.parallax5{
   
    padding-top: 30%;
    text-align: center;
    color: red;
}
.main{
    text-align: center;
    text-align: justify;
}
tr{
    text-align: justify;
}
.footer_wrapper{
   
    
    margin: auto;
    text-align: start;
}

article{
    text-align: justify;
    width: 60%;
    margin: auto;
}
.connect{
    text-align: center;
    width: 60%;
    margin: auto;
}
hr{
    width: 80%;
}
.red_head{
    color: var(--redcolor);
    font-size: 40px;
}
.fa-whatsapp{
    font-size: 35px;
    color: green;
}
.fa-phone{
    font-size: 35px;
    color: blue;
}
.fa-envelope{
    font-size: 35px;
    color: red;
}
table{
    border: none;
    border-radius: 12px;
    color:var(--redcolor);
    margin: 5px auto 5px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
   
}
.right{
    border-right:1px solid var(--redcolor);
}

.bottomm{
    border-bottom:1px solid var(--redcolor);
    
}
tr td{
    text-align: center;
}
.br_black{
    background-color: rgb(37, 4, 11);
    width: 30%;
    margin: auto;
    border-radius: 10px;  
}
.fa-twitter{
    font-size: 35px;
}
.footer_content p{
    font-size: 60px;
}
.bottom{
    font-size: 30px;
   padding-bottom: 10px;
}
.cont{
    font-size: 20px;
    text-align: center;
}
.fa-angle-down, .red{
    font-size: 35px;
    color: red;
}
html{
    scroll-behavior: smooth;
}
